html {
    background-color: #8DD7D8;
    
}

table, th, td {
    border: #43BBBC solid 2px;
    background-color: #B2E5E6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-btn, tr {
    margin: 10px;
}

th, td {
    padding: 5px;
}

table {
    text-align: center;
}

#show-dialog, .remove-btn, .read {
    background-color: #D8F2F3;
    border: gray solid 1px;
    border-radius: 14px;
    font-size: 16px;
    width: 120px;
    height: 40px;
}

#show-dialog:active , .remove-btn:active, .read:active {
    background-color: #c5f0f1;
    box-shadow: inset 0px 0px 5px #a6cbcc;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

#show-dialog:hover, .remove-btn:hover, .read:hover {
    background-color: #c5f0f1;
}

